body {
  background: url(https://st2.depositphotos.com/2576363/6461/i/450/depositphotos_64612467-stock-photo-ingredients-for-baking-on-black.jpg)
    no-repeat center top;
  background-size: 1400px 660px;
  font-style: italic;
  color: rgb(255, 255, 255);
  font-size: 200.5%;
}

a {
  font-style: italic;
  color: rgb(255, 255, 255);
}
