body {
  background: url(https://st4.depositphotos.com/13349494/20960/i/450/depositphotos_209600726-stock-photo-top-view-soya-sauce-bowl.jpg)
    no-repeat center top;
  background-size: 1500px 660px;
  font-style: italic;
  color: rgb(0, 0, 0);
}

a {
  font-style: italic;
  color: rgb(0, 0, 0);
}
